<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="https://www.takemeto.co.za/#/">
                        About Takeme
                    </a>
                </li>
                <li>
                    <a href="https://www.takemeto.co.za/#/privacy/policy">
                        Privacy Policy
                    </a>
                </li>
                <li>
                    <a href="https://www.takemeto.co.za/#/termsandconditions">
                        Terms and Conditions
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, by
            <a href="https://kwayuku.com" target="_blank">KwaYuku Inc</a>
        </div>
    </div>
</footer>
