<nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute fixed-top">
    <div class="container-fluid">
        <div class="navbar-wrapper">
          <a class="navbar-brand" routerLink="/">{{getTitle()}}</a>
        </div>
        <div class="justify-content-end" id="navigation">
            <ul class="navbar-nav" style="flex-direction: unset">
                <li class="nav-item">
                    <a mat-button class="nav-link" routerLink="/dashboard" data-toggle="tab">
                        Dashboard
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>