<div class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card  card-plain">
                    <div class="card-header card-header-success" style="height: 108px;">
                        <h4 class="card-title" style="margin: 0">
                            Download Our Mobile App Now
                            <a routerLink="dashboard"> <img class="img"
                                                            src="https://firebasestorage.googleapis.com/v0/b/takeme-2019.appspot.com/o/google-play-badge.png?alt=media&token=eea9d4e6-2b20-4acf-8e10-fec50a80617e"
                                                            width="150px"></a>
                        </h4>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card  card-plain">
                    <div class="card-header">
                        <h4 class="card-title card-header-success">
                        Or Visit Our Hand Sign
                        <button style="border-width: 0; padding: 0;" class="btn-success" routerLink="dashboard"> Dashboard</button>
                        </h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-body">
                        <h4 class="card-title card-header-success">Takeme</h4>
                        <div class="card">
                            <img class="img"
                                 src="https://firebasestorage.googleapis.com/v0/b/takeme-2019.appspot.com/o/takeataxi.jpg?alt=media&token=1771708b-f121-42b6-afc1-ecc5bd69cf10"
                                 height="150px" alt="SIGN"/>
                        </div>
                        <div class="card">
                            <blockquote class="blockquote">
                                <small>
                                    New in the hood? Quickly learn local hand signs for taxis with us
                                </small>
                            </blockquote>
                            <p>
                                Takeme is your solution, making traveling easier than before. Just give us your location
                                and desired destination & we'll find you the correct sign.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-body">
                        <h4 class="card-title card-header-success">Convenient</h4>
                        <div class="card">
                            <img class="img"
                                 src="https://firebasestorage.googleapis.com/v0/b/takeme-2019.appspot.com/o/million.jpeg?alt=media&token=66eaec58-9a87-418d-b487-eaaad52e24a6"
                                 height="150px" alt="SIGN"/>
                        </div>
                        <div class="card">
                            <blockquote class="blockquote">
                                <small>
                                    Approximately 14 million people use a taxi everyday, at least twice a day
                                </small>
                            </blockquote>
                            <p>
                                Takeme provides convenience, safety, speed for you to move from your location to your
                                desired destination.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-body">
                        <h4 class="card-title card-header-success">Growing</h4>
                        <div class="card">
                            <img class="img"
                                 src="https://firebasestorage.googleapis.com/v0/b/takeme-2019.appspot.com/o/buses.jpeg?alt=media&token=5ac3b678-588a-442f-9110-e2c33b2a0045"
                                 height="150px" alt="SIGN"/>
                        </div>
                        <div class="card">
                            <blockquote class="blockquote">
                                <small>
                                    Over 10 000 people are moving
                                    to new areas every month
                                </small>
                            </blockquote>
                            <p>
                                We are tirelessly working hard on improving our application's understanding of what you
                                need.
                                We will be releasing the iOS version shortly.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body bg-success">
                        <blockquote class="blockquote" style="margin-bottom: 0rem !important;">
                            <small style="color: white">
                                Stay with us while we are working hard to giving you the best of public transportation
                            </small>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>