<div class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card  card-plain">
                    <div class="card-header card-header-success" style="height: 108px;">
                        <h4 class="card-title">{{ searchAddresses.length <= 0 ? listOfSigns.length :
                            searchAddresses.length }} Route(s) Covered</h4>
                        <Search (setAddress)="getAddress($event)" adressType="geocode"></Search>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card  card-plain">
                    <div class="card-header card-header-success">
                        <h4 class="card-title" style="margin: 0">
                            Download Our Mobile App Now
                        </h4>
                        <a href="https://play.google.com/store/apps/details?id=com.takeme.takemeto"> <img class="img"
                                                        src="https://firebasestorage.googleapis.com/v0/b/takeme-2019.appspot.com/o/google-play-badge.png?alt=media&token=eea9d4e6-2b20-4acf-8e10-fec50a80617e"
                                                        width="150px"></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" *ngIf="searchAddresses.length <= 0">
            <div class="col-md-4" *ngFor="let sign of listOfSigns; let i = index">
                <div class="card card-chart">
                    <div class="card-body">
                        <h4 class="card-title">{{sign.price ? "R "  + sign.price + " - " : "" }}  {{ sign.from.name }}  to  {{ sign.destination.name }}</h4>
                        <div class="card card-profile">
                            <div class="card-avatar">
                                <a href="javascript:void(0)">
                                    <img class="img" src="{{ sign.downloadUrl }}" alt="SIGN"/>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!--<div class="card-footer">-->
                    <!--<div class="stats">-->
                    <!--<button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="deleteSign(i)">-->
                    <!--Delete Sing</button>-->
                    <!--<div class="clearfix"></div>-->
                    <!--</div>-->
                    <!--</div>-->
                </div>
            </div>
        </div>

        <div class="row" *ngIf="searchAddresses.length > 0">
            <div class="col-md-4" *ngFor="let sign of searchAddresses; let i = index">
                <div class="card card-chart">
                    <div class="card-body">
                        <h4 class="card-title">{{ sign.from.name }} => {{ sign.destination.name }}</h4>
                        <div class="card card-profile">
                            <div class="card-avatar">
                                <a href="javascript:void(0)">
                                    <img class="img" src="{{ sign.downloadUrl }}" alt="SIGN"/>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!--<div class="card-footer">-->
                    <!--<div class="stats">-->
                    <!--<button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="deleteSign(i)">-->
                    <!--Delete Sing</button>-->
                    <!--<div class="clearfix"></div>-->
                    <!--</div>-->
                    <!--</div>-->
                </div>
            </div>
        </div>
    </div>
</div>